*{
	font-family: Arial;
}

#media{
	text-align: center;
}

#header-card, #headingOne, #headingTwo{
	background: #CDD0D0;
}

.container{
	margin-top: 60px;
}

.card{
	margin-top: 30px;
}

.img-fluid{
	width: 200px;
	height: 100px;
	margin:2px 2px;
}

.media-body{
	margin-top: 30px;
}

.card-text{
	margin-left: 2px;
	margin-right: 2px;
	margin-top: 5px;
}

.card-block{
	margin-right: 5px;
	margin-left: 5px;
}